<li>
  <div class="card">
    <div class="card-header">
      <a href={{link}}>
        <h2>{{headline}}</h2>
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{author}}</h5>
      <p class="card-text">{{storyType}}</p>
    </div>
    <div class="card-body">
      <p>{{summary}}</p>
      <hr>
      <form>

      </form>
      {{#each comments}}
        {{> comments/comment-block}}
      {{/each}}
    </div>
  </div>
</li>
<br>